<table id="datatable" class="display" cellspacing="0" width="100%">
  <thead>
      <tr>
        <th>Name</th>
        <th>Winery</th>
        <th>Bottle Size</th>
        <th>Region</th>
        <th>Vintage</th>
        <th>Grape</th>
        {{#if quantity}}
        <th>Quantity</th>
        {{/if}}
        <th class="no-sort" >Edit</th>
        <th class="no-sort" >Delete</th>
      </tr>
  </thead>
  <tbody>
    {{#each model as |entry|}}
    <tr id="row-{{entry.id}}">
      <td>{{entry.name}}</td>
      <td>{{entry.winery}}</td>
      <td>{{entry.size}}</td>
      <td>{{entry.location}}</td>
      <td>{{entry.vintage}}</td>
      <td>{{entry.grape}}</td>
      {{#if quantity}}
      <td>{{entry.quantity}}</td>
      <td align="center">{{#link-to 'invedit' entry.id}}<button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>{{/link-to}}</td>
      <td align="center"><button class="btn btn-sm btn-danger" {{action "deleteEntry" entry}}><span class="glyphicon glyphicon-remove"></span></button></td>
      {{else}}
      <td align="center">{{#link-to 'wledit' entry.id}}<button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>{{/link-to}}</td>
      <td align="center"><button class="btn  btn-sm btn-danger" {{action "deleteEntry" entry}}><span class="glyphicon glyphicon-remove"></span></button></td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table><br>
