<table id="datatable" class="display" cellspacing="0" width="100%">
  <thead>
      <tr>
        <th>Name</th>
        <th>Winery</th>
        <th>Bottle Size</th>
        <th>Location</th>
        <th>Vintage</th>
        <th>Grape</th>
        {{#if quantity}}
        <th>Quantity</th>
        {{/if}}
        <th class="no-sort" >Edit</th>
        <th class="no-sort" >Delete</th>
      </tr>
  </thead>
  <tbody>
    {{#each model as |entry|}}
    <tr id="row-{{entry.id}}">
      <td>{{entry.name}}</td>
      <td>{{entry.winery}}</td>
      <td>{{entry.size}}</td>
      <td>{{entry.location}}</td>
      <td>{{entry.vintage}}</td>
      <td>{{entry.grape}}</td>
      {{#if quantity}}
      <td>{{entry.quantity}}</td>
      <td align="center"><button > </button></td>
      <td align="center"><button {{action "deleteEntry" entry true}}> </button></td>
      {{else}}
      <td align="center"><button > </button></td>
      <td align="center"><button {{action "deleteEntry" entry}}> </button></td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>
