<div class="form-group">
  <label for="name">Name</label>
  {{input type="text"
          class="form-control"
          id="name"
          placeholder="Bottle Name"
          value=passwords.previous}}
</div>

<div class="form-group">
  <label for="winery">Winery</label>
  {{input type="text"
          class="form-control"
          id="winery"
          placeholder="Name of Winery"
          value=passwords.next}}
</div>


<div class="form-group">
  <label for="size">Bottle Size</label><br>
  <select id="size" class="form-control">
    <option value="Split">Split (.187L)</option>
    <option value="Half">Half (.375L)</option>
    <option value="Standard" selected="selected">Standard (.75L)</option>
    <option value="Magnum">Magnum (1.5L)</option>
    <option value="Marie-Jeanne">Marie-Jeanne (2.25L)</option>
    <option value="Double Magnum">Double Magnum (3L)</option>
    <option value="Jeroboam">Jeroboam (5L)</option>
    <option value="Imperiale">Imperiale (6L)</option>
    <option value="Salmanazar">Salmanazar (9L)</option>
    <option value="Balthazar">Balthazar (12L)</option>
    <option value="Nebuchadnezzar">Nebuchadnezzar (15L)</option>
    <option value="Melchior">Melchior (18L)</option>
  </select>
</div>

<div class="form-group">
  <label for="location">Location</label>
  {{input type="text"
          class="form-control"
          id="location"
          placeholder="Location of Winery"
          value=passwords.next}}
</div>

<div class="form-group">
  <label for="vintage">Vintage</label>
  {{input type="text"
          class="form-control"
          id="vintage"
          placeholder="Vintage(Year)"
          value=passwords.next}}
</div>

<div class="form-group">
  <label for="grape">Grape</label>
  {{input type="text"
          class="form-control"
          id="grape"
          placeholder="Type of Grape"
          value=passwords.next}}
</div>

<button class="btn btn-primary" {{action "submit"}}>
  Submit
</button>

{{#link-to 'wish_lists'}}
<button class="btn btn-default">
  Cancel
</button>
{{/link-to}}
